<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>About</title>
</head>
<body>
    <div class="hero">
        <nav>
            <h2 class="logo">Naruto <span>Uzumaki</span></h2>
            <ul>
                <li><a href="http://localhost:3000/">Home</a></li>
                <li><a href="http://localhost:3000/about">About</a></li>
                <li><a href="http://localhost:3000/works">Works</a></li>
                <li><a href="http://localhost:3000/photos">Photos</a></li>
            </ul>
        </nav>
    </div>
    <div class="info">
        <ul>
            <li>Name : Uzumaki Naruto</li>
            <li>Age : 32</li>
            <li>Birthday : October 10</li>
            <li>Kekkei Genkai : Lava release, magnet release, boil, release</li>
            <li>Age : 32</li>
            <li>Classification : Jinchuriki, Sage, Sensor type</li>
            <li>Tailed Beasts : Shukaku, Matatabi, Isobu, Son Gokū, Kokuō, Saiken, Chōmei, Gyūki, Kurama</li>
            <li>Occupatione : Hokage</li>
            <li>Affiliation : Konohagakure, Mount Myōboku, Allied Shinobi Forces</li>
            <li>Team : 7 (Kakashi)</li>
            <li>Clan : Uzumaki clan</li>
            <li>Rank : Genin</li>
            <li>Nature types :  Wind Release, Lightning Release, Earth Release, Water Release, Fire Release, Yin Release, Yang Release, Yin-Yang Release</li>
            <li>Parents : Uzumaki Kushina, Namikaze Minato</li>
            <li>Wife : Uzumaki Hinata</li>
            <li>Children : Uzumaki Boruto, Uzumaki Himawari</li>
            <li>Teachers : Jiraiya, Kakashi, Iruka</li>
        </ul>
    </div>
    
</body>
</html>