<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Home</title>
</head>
<body>
    <div class="hero">
        <nav>
            <h2 class="logo">Naruto <span>Uzumaki</span></h2>
            <ul>
                <li><a href="http://localhost:3000/home">Home</a></li>
                <li><a href="http://localhost:3000/about">About</a></li>
                <li><a href="http://localhost:3000/works">Works</a></li>
                <li><a href="http://localhost:3000/photos">Photos</a></li>
            </ul>
        </nav>
    </div>
    <img class="bg" src="background.png">
    <div class="second">
        Uzumaki Naruto!! He is the Hidden Leaf's Number One Loudest Ninja. He breaks the rules, he has to be the centre of attention, his intelligence sinks below every other ninja, he is untalented in comparison with his fellow Academy students, he is outspoken and egotistical but most importantly: He has a Ninja spirit that never gives up! Sealed within Naruto is a Nine-Tailed Demon Fox that attacked and almost destroyed the Hidden Leaf Village. This immeasurable power was preserved inside of him so that it couldn't return to demolish the Village again.
    </div>
</body>
</html>