<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="hero">
        <nav>
            <h2 class="logo">Naruto <span>Uzumaki</span></h2>
            <ul>
                <li><a href="http://localhost:3000/">Home</a></li>
                <li><a href="http://localhost:3000/about">About</a></li>
                <li><a href="http://localhost:3000/works">Works</a></li>
                <li><a href="http://localhost:3000/photos">Photos</a></li>
            </ul>
        </nav>
    </div>
    <div class="third">
        <h1 class="head">Naho Mission</h1>
        After being saved by Sasuke, Naho develops a crush on him. Team 7 is sent to escort her to another village. Sasuke is unavailable to go on the mission, but Naho demands he come along. <br>
        Naruto transforms into his teammate. When Naruto and Sakura are captured, Sasuke happens to show up to save them. Naho becomes terrified of Sasuke after watching him brutally beat an opponent. Naruto reassures Naho that Sasuke is actually a good person.
        <h1 class="head">Mission With Gaara</h1>
        Team 7, along with Gaara and a couple of Sand Ninja, are dispatched to deal with a border dispute. Gaara has to work to earn the trust of those around him. His teammates distrust him because of his status as a jinchuriki while Team 7 is shocked to see how much Gaara has changed since they last saw him during the events of the Chunin Exams.
        <h1 class="head">Ninja Clash In The Land Of Snow</h1>
        Few people know that Yukie is actually the Land of Snow's princess. Yukie's uncle, who has been ruling in her place, repeatedly tries to kill her. Team 7 desperately tries to keep the princess alive while the odds are stacked against them.
        <h1 class="head">Bell Test</h1>
        The bell test marks the first time Team 7 is brought together. This mission serves as a final test to make sure Sasuke, Sakura, and Naruto have what it takes to work as a team.<br>
        Kakashi purposefully pits them against each other, assessing their skills as individuals. His ultimate goal is to try and force them to work as a team. Kakashi fails the group after they can't seem to work together. In the end, the trio manages to pass Kakashi's test by showing a disregard for the rules.
        <h1 class="head">Golden Statue</h1>
        Naruto, Sasuke, and Sakura are sent to recover a golden statue that had been stolen. Sasuke and Naruto end up with their dominant hands trapped and stuck together.<br>
        The two have to find a way to work together and save a captured Sakura. The two genin have to show incredible teamwork skills to save their friend. In the end, Sasuke and Naruto find out they will be stuck together for a few days.
        <h1 class="head">Chunin Exams</h1>
        The exams are a chance for ninja to be promoted from genin to chunin. The tests also serve as a chance for the various ninja villages to spy on each other. Kakashi has his team sign up to compete.<br>
        Sasuke, Sakura, and Naruto are put through a series of exams that push them to their limits. All three have a near-death experience at some point during the exam. The exams also prove to be a changing point for Sasuke. As a result of his experiences, he decides to leave the village forever.
        <h1 class="head">The Reunion</h1>
        Team 7 is brought together for the first time since Sasuke left. Naruto and Sakura are given a chance to see their lost teammate for the first time in years. Team 7 has been reborn with Yamato filling in for Kakashi and Sai taking over for Sasuke.<br>
        Sasuke proves that he has become stronger than both Naruto and Sakura. Sai seems to be the only one who stands a chance at defeating the rogue ninja. Naruto and Sakura fail in their mission to get Sasuke to return to Konoha.
        <h1 class="head">Land Of Waves Arc</h1>
        Team 7 had to escort a bridge builder. Unfortunately, the bridge builder had lied about the difficulty of the mission. Team 7 was being sent on a mission that was well beyond what a few genin were capable of. The team was forced to work together if they were going to survive.
        <h1 class="head">Fight Against Kaguya</h1>
        All four members of Team 7 are brought together to fight against Earth's greatest threat. Kaguya Otsutsuki traps the entire world in her Infinite Tsukuyomi. Team 7, along with a select few allies, were left to deal with Kaguya. <br>
        Sasuke agrees to work with his former team for the first time in years. Fans waited a long time to see the trio reunite. Sasuke, Naruto, and Sakura display their skills as they fight for the fate of the world. In the end, Sasuke and Naruto are left to triumph against the powerful Kaguya.
        <h1 class="head">Fight Against Shin</h1>
        Sakura, Sasuke, and Naruto are brought together to face off against a series of clones known as Shin. <br>
        Now adults, the trio is much stronger than it was at the beginning. Sakura manages to hold her own against the origin Shin as her former teammates try to find out where Shin is holding her. The three manage to succeed in their fight against Shin, showing exactly how powerful they've become since the beginning.
    </div>
    
</body>
</html>